// Place all the styles related to the about_author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$author-bg: image-url('me.png');
$box-shadow-img: 1px 1px 3px #000;
$font-h2: bold 18px/1.3 'Chewy', 'mv boli', verdana, 'times new roman';

#aboutTheAuthor{
	background-image: $author-bg;
	background-size: 100% 100%;
	width: 24vw;
	height: 30vh;
	border: 1px solid #000;
	margin: 0 auto;
	margin-top: 5%;
	box-shadow: $box-shadow-img;
	
}
#contact{
	width: 40%;
	margin: 0 auto;
}

#contact h2{
	font:$font-h2;
	margin-left: 8%;
	word-wrap: break-word;
}